<mjml>
  <mj-head>
    <mj-attributes>
      <mj-all font-family="Helvetica Neue" />
    </mj-attributes>
    <mj-title>{{ _meta.subject }}</mj-title>
  </mj-head>
  <mj-body background-color="#EEEEEE">
    <mj-raw>{%- if not _meta.isBrowser -%}</mj-raw>
    <mj-section>
      <mj-column>
        <mj-text font-size="12px">Bei Darstellungsproblemen <a href="{{ _meta.viewInBrowserUrl }}">hier klicken</a></mj-text>
      </mj-column>
    </mj-section>
    <mj-raw>{%- endif -%}</mj-raw>
    <mj-section background-color="skyblue">
      <mj-column>
        <mj-image align="center" src="cid:email_logo.png" width="84px" height="30px" />
      </mj-column>
    </mj-section>
    <mj-section background-color="white">
      <mj-column>
        <mj-text>Sehr geehrte(r) {{_meta.recipientName}},</mj-text>
        <mj-text>vielen Dank für Ihre Registrierung. Ihre Anmeldenummer lautet:</mj-text>
        <mj-text font-weight="bold" font-size="18px" align="center">{{regNum}}</mj-text>
        <mj-text>Falls Sie Fragen haben, <a style="color:skyblue" href="http://example.com">kontaktieren Sie uns einfach</a>!</mj-text>
        <mj-text>Mit freundlichen Grüßen,<br />Musterfirma</mj-text>
      </mj-column>
    </mj-section>
    <mj-section>
      <mj-column>
        <mj-text font-size="10px" align="center" color="#AAAAAA">Hinweis: Diese E-Mail wurde automatisch erzeugt. Bitte antworten Sie nicht darauf.</mj-text>
      </mj-column>
    </mj-section>
  </mj-body>
</mjml>
