Sehr geehrte(r) {{_meta.recipientName}},

vielen Dank für Ihre Registrierung. Ihre Anmeldenummer lautet:
    {{regNum}}

Falls Sie Fragen haben, kontaktieren Sie uns einfach!

Mit freundlichen Grüßen,
Musterfirma

---
Hinweis: Diese E-Mail wurde automatisch erzeugt. Bitte antworten Sie nicht darauf.
